@use "src/styles/variables" as *;

.details-container {
  background-color: $bg-color;
  min-height: 100vh;
  padding: 2rem;

  @include sm {
    padding: 1rem;
  }
}

.details-content {
  max-width: 1200px;
  margin: 0 auto;
}

.padding-components {
  padding-top: 38px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
} 