<div class="details-container">
  <ng-container *ngIf="(pokemon$ | async) as pokemon; else loader">
    <app-details-header 
      [pokemon]="pokemon"
      [speciesData]="species$ | async"
      (backClick)="onPreviousPokemon()"
      (closeClick)="onClose()"
      (forwardClick)="onNextPokemon()">
    </app-details-header>
    
    <div class="details-content">
      <div class="left-section">
        <app-property-card [pokemon]="pokemon"></app-property-card>
        <app-stat-card [stats]="pokemon.stats"></app-stat-card>
      </div>
      
      <div class="right-section">
        <ng-container *ngIf="evolutionChain$ | async as evolutionChain">
          <app-evolution-chain-card 
            [evolutionChain]="evolutionChain">
          </app-evolution-chain-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loader>
  <div class="loader-container">
    <app-loader></app-loader>
  </div>
</ng-template> 