<div class="property-container" role="region" aria-labelledby="property-card-title">
  <div class="grid-container">
    <div class="property-item" role="listitem">
      <div class="prop-header">Height</div>
      <div class="prop-header-data" aria-label="Height in decimeters">{{pokemon.height}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Weight</div>
      <div class="prop-header-data" aria-label="Weight in kilograms">{{pokemon.weight / 10}} Kg</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Abilities</div>
      <div class="prop-header-data" aria-label="Abilities">{{getAbilities()}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Moves</div>
      <div class="prop-header-data" aria-label="Moves">{{getMoves()}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Base Happiness</div>
      <div class="prop-header-data" aria-label="Base Happiness">{{getBaseHappiness()}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Capture Rate</div>
      <div class="prop-header-data" aria-label="Capture Rate">{{getCaptureRate()}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Egg Groups</div>
      <div class="prop-header-data" aria-label="Egg Groups">{{getEggGroups()}}</div>
    </div>

    <div class="property-item" role="listitem">
      <div class="prop-header">Growth Rate</div>
      <div class="prop-header-data" aria-label="Growth Rate">{{getGrowthRate()}}</div>
    </div>
  </div>
</div> 