<div class="property-container">
  <div class="grid-container">
    <div class="property-item">
      <div class="prop-header">Height</div>
      <div class="prop-header-data">{{pokemon.height}}</div>
    </div>

    <div class="property-item">
      <div class="prop-header">Weight</div>
      <div class="prop-header-data">{{pokemon.weight / 10}} Kg</div>
    </div>

    <div class="property-item">
      <div class="prop-header">Gender(s)</div>
      <div class="prop-header-data">Male, Female</div>
    </div>

    <div class="property-item">
      <div class="prop-header">Abilities</div>
      <div class="prop-header-data">{{getAbilities()}}</div>
    </div>

    <div class="property-item">
      <div class="prop-header">Moves</div>
      <div class="prop-header-data">{{getMoves()}}</div>
    </div>
</div> 