@use 'variables' as *;

@mixin flex-row($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-col($align: center, $justify: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin sm {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $screen-xl) {
    @content;
  }
} 