$bg-color: #f6f8fc;
$primary-text-color: #2E3156;
$line-color: #e0e0e0;
$bg-popover: #616161;
$input-background: #ffffff;
$white: #ffffff;
$primary-color: #007bff;
$ps-green: #DEEDED !important;



// Media query breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px; 