@use "src/styles/variables" as *;
@use "src/styles/common" as *;


.header {
  height: var(--header-height);
  padding: 0px;
  @include flex-row(center, start);
  font-weight: 600;
  z-index: 2;
  top: 0;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  text-align: center;

  .header-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: $primary-text-color;
    margin: 0;
  }

  .header-subtitle {
    font-size: 1.2rem;
    color: rgb(10 19 120 / 70%);
    margin: 0;
  }

  .horizontal-line {
    width: 1px;
    height: 32px;
    background-color: #5D5F7E;
    margin: 22px;
}
} 