<div class="home-container">
  <div>
    <app-header>
      <div class="app-header-wrap">
        <div class="header-title">
          <h3>Pokédex</h3>
        </div>
        <div class="header-horizontal-line"></div>
        <div class="subheading">
          <span>Search for any Pokémon that exists on the planet</span>
        </div>
      </div>
    </app-header>

    <div>
      <app-filter (filterEnabled)="onFilterEnabled($event)"></app-filter>
    </div>
  </div>

  <ng-container *ngIf="getDisplayList() | async as pokemonList">
    <div *ngIf="pokemonList.length > 0" class="card-list">
      <div *ngFor="let pokemon of pokemonList" class="responsive">
        <app-pokemon-card
          [data]="pokemon"
          (cardClick)="handlePokemonClick(pokemon.id)">
        </app-pokemon-card>
      </div>
    </div>

    <div *ngIf="isLoadMoreInProgress$ | async">
      <app-loader className="loadmore-loader"></app-loader>
    </div>

    <div *ngIf="!isFilterEnabled" class="load-more-wrap">
      <button mat-button color="primary" (click)="handleLoadMore()">
        Load more
      </button>
    </div>

    <div *ngIf="!pokemonList.length" class="no-data-found">
      <span>No data found</span>
    </div>
  </ng-container>

  <div *ngIf="isLoading$ | async">
    <app-loader className="app-loader-wrapper"></app-loader>
  </div>
</div> 